//Variables
$panel-info: #d9edf7; // Bootstrap .panel-info color class
$editbtn: #7DAEC6;
$mainwidth: 300px;
$bodybg: complement($panel-info);
$fontfam:'Open Sans', sans-serif;

//edit btn mixin
@mixin editstates($bgcolor) {
    color: white;
    background-color: $bgcolor;
}
html {
  background-color: $bodybg;
}
  main {
    margin-top: 2%;
    padding: 10px;
    input[type="text"] {
      height: 30px;
      width: $mainwidth;
      font-family: $fontfam;
      @media (max-width: 320px) {
        width: $mainwidth - 50;
      }
    }
    label {
      width: $mainwidth;
      @media (max-width: 320px) {
        width: $mainwidth - 50;
      }
      font-family: $fontfam;
      font-size: 2rem;
    }
  }

  /* Edit Button */
  .editbtn {
    background-color:$editbtn;
    color: white;
    border: 1px solid darken($editbtn, 20%);
    &:active {
      @include editstates(darken($editbtn, 20%));
    }
    &:visited {
      @include editstates(darken($editbtn, 20%));
    }
    &:hover {
      @include editstates(darken($editbtn, 10%));
    }
    &:focus {
      @include editstates(darken($editbtn, 10%));
    }
  }
  .container {
    padding-bottom: 15px;
    max-width: 970px;
  }

/* New Task Content */
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 10px 0px 5px 0px;
}
/* Btn-group Media Query */
@media (max-width: 512px) {
  .btn-group {
    margin-top: 5px;
    margin-left: 100px;
    @media (max-width: 320px) {
      margin-left: 65px;
    }
  }
}
