<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular TodoList Practice</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/css/main.css" media="screen" title="no title" charset="utf-8">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container" ng-app="todoListApp" ng-controller="MainCtrl">

    <!-- Main Content -->
    <main class="bg-info">
      <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading text-center"><h1>My Todos</h1></div>
        <div class="panel-body">
          <div ng-click="newtask()"><a href="#"><i class="fa fa-plus"></i> Add New Task</a></div>
        </div>
      </div><!-- panel -->

      <!-- New Task Content -->
      <div class="content" ng-repeat="todo in todoList">
        <!-- Task Input -->
        <div>
          <label ng-hide="editing">{{todo.name}}</label>
          <input ng-show="editing" ng-model="todo.name" type="text" placeholder="new task..."/>
          <!--<div>Editing is: {{ editing }}</div>-->
        </div>
        <div>
        <!-- Task Edits -->
        <div class=" btn-group" role="group">
          <button type="button" class="btn btn-warning">edit</button>
          <button type="button" class="btn btn-success" ng-click="editing = !editing">save</button>
          <button type="button" class="btn btn-danger">delete</button>
        </div>
      </div>

    </main>

    <script src="app/scripts/app.js" charset="utf-8"></script>
    <script src="app/scripts/controllers/MainCtrl.js" charset="utf-8"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
