html {
  background-color: #f7e3d9; }

main {
  margin-top: 2%;
  padding: 10px; }
  main input[type="text"] {
    height: 30px;
    width: 300px;
    font-family: "Open Sans", sans-serif; }
    @media (max-width: 320px) {
      main input[type="text"] {
        width: 250px; } }
  main label {
    width: 300px;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem; }
    @media (max-width: 320px) {
      main label {
        width: 250px; } }

/* Edit Button */
.editbtn {
  color: white;
  background-color: #7DAEC6;
  border: 1px solid #437d9a; }
  .editbtn:active {
    color: white;
    background-color: #437d9a; }
  .editbtn:visited {
    color: white;
    background-color: #437d9a; }
  .editbtn:hover {
    color: white;
    background-color: #5a98b6; }
  .editbtn:focus {
    color: white;
    background-color: #5a98b6; }

.container {
  padding-bottom: 15px;
  max-width: 970px; }

/* New Task Content */
.content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0px 5px 0px; }

/* Btn-group Media Query */
@media (max-width: 512px) {
  .btn-group {
    margin-top: 5px;
    margin-left: 100px; } }
  @media (max-width: 512px) and (max-width: 320px) {
    .btn-group {
      margin-left: 65px; } }
